*.egg-info/
*.pyc
.pytest_cache/
.venv/
.coverage
NOTES.md
build/
coverage.xml
tests/target_test/
__pycache__/

# Keep these at the end as they are negations
!examples/target-generation-output.log
!examples/target-generation-output-dry-run.log
!examples/target-generation-output-verbose.log
